################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/Temp
/obj/Debug
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Skybox Sports Hall - Git.sln
